.about {
  padding: 0 0 50px 0;
  position: relative;
}

.about-box {
  border-radius: 64px;
  background-color: #151515;
  text-align: center;
  padding: 60px 50px;
  margin-top: -50px;
}

.about h2 {
  font-size: 45px;
  font-weight: 700;
}

.about p {
  color: #888;
  font-size: 18px;
  letter-spacing: 0.8px;
  line-height: 1.5em;
  margin: 14px 0 55px 0;
}

.about-slider {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

.about-item {
  width: 33%;
}

.about-box img {
  width: 30%;
  margin: 15px;
}

.background-img-left {
  top: 20%;
  bottom: 0;
  position: absolute;
  width: 40%;
  z-index: -4;
}
