.footer {
  padding: 0;
  background-image: url("../assets/footer-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.footer img {
  width: 26%;
}
.footer p {
  font-weight: 400;
  font-size: 14px;
  color: #b8b8b8;
  letter-spacing: 0.5px;
  margin-top: 7px;
}

.footer .social-icon {
  margin-top: 15px;
}

.footer h4 {
  font-weight: 200px;
  font-size: 25px;
  color: #b8b8b8;
}
