.profile {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-image: url('../assets/banner-bg.png');
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .profile .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding:10px 10px 0px 10px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
    width: 155px;
  }
  .profile h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  .profile p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .action-btns {
    display: flex;
    width: 800px;
    margin-top: 40px;
    a{
      text-decoration: none;
      display: block;
      width: auto;
      margin-right: 20px;
    }
    button {
      border: #B8B8B8 1px solid;
      border-radius: 0px;
      padding: 15px 20px;
      height: 60px;
    }
  }
  .profile button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 10px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }

  .profile button:hover{
    background-color: #b8b8b8b0;
  }
  .profile button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
  }
  .profile button:hover svg {
    margin-left: 25px;
  }
  .profile img {
    animation: updown 3s linear infinite;
  }
  @keyframes updown {
      0% {
          transform: translateY(-20px);
      }
      50% {
          transform: translateY(20px);
      }
      100% {
          transform: translateY(-20px);
      }
  }
  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
  }


